.co-right {
  width: 100%;
  float: right;
  background:grey;
}

.column-right img {
  width: 200%;
}

.image-h{
  height: 2000px;
  width: 1500px;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
  color: black;
}
